<appSettings>
  <add key="Service-URL" value="http://findmyitem.co.uk/services/service.svc/soap" />
  <add key="WebAPI-URL" value="http://findmyitem.co.uk/api" />
</appSettings>

<!--     
  value="http://findmyitem.co.uk/services/service.svc/soap"
   value="http://localhost:3332/Service.svc/soap"
   http://localhost:1566/
   http://findmyitem.co.uk/api -->