<h3>News</h3>

<ul>
    <li>NEW CATEGORY: We're now searching jobs on the uk's leading jobsites.</li>
    <li>NEW FEATURE: Advanced Search - This will return results direct from one of our feeds.</li>
    <li><a href="http://www.pistonheads.co.uk" target="_blank">Pistonheads</a>, <a href="http://www.autotrader.co.uk" target="_blank">Autotrader</a> and <a href="http://www.exchangeandmart.co.uk" target="_blank">Exchange and Mart</a> has now been added you our search, to find your cars.</li>
</ul>

<!--
@Html.Raw("<a class='twitter-timeline' href='https://twitter.com/findmyitem' data-widget-id='280772199076462592'>Tweets by @findmyitem</a><script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = '//platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>'")
-->